@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;

@use './components/navbar';
@use './components/button';
@use './components/card';
@use './components/home';

body {
  font-family: $font-main;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
